certifi==2021.5.30
Cython==0.29.23
decorator==5.0.9
entrypoints==0.3
Flask==2.0.1
gast==0.4.0
google-pasta==0.2.0
gunicorn==20.1.0
h5py==3.2.1
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
notebook==6.4.0
numpy==1.20.3
pandas==1.2.4
python-dateutil==2.8.1
PyYAML==5.4.1
scikit-learn==0.24.2
scipy==1.6.3
tensorboard==2.0.1
tensorflow==2.0.1
tensorflow-estimator==2.0.1
webencodings==0.5.1
Werkzeug==2.0.1
